n8n-demo-form-workflow.json
{
  "name": "Detay Multimedya — Demo Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Demo Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "demo-form"
    },
    {
      "parameters": {
        "sendTo": "ozdem.erdem@motoron.com.tr",
        "subject": "=Yeni Demo Talebi — {{ $json.body.company ?? $json.company }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; color: #333; max-width: 600px; margin: 0 auto; padding: 24px;\">\n<h2 style=\"color: #E8961F; border-bottom: 2px solid #E8961F; padding-bottom: 8px;\">Yeni Demo Talebi</h2>\n\n<table style=\"width: 100%; border-collapse: collapse; margin-top: 16px;\">\n  <tr style=\"background: #f9f9f9;\">\n    <td style=\"padding: 10px 14px; font-weight: bold; width: 40%; border: 1px solid #eee;\">Ad Soyad</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.name ?? $json.name }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #eee;\">Şirket</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.company ?? $json.company }}</td>\n  </tr>\n  <tr style=\"background: #f9f9f9;\">\n    <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #eee;\">Sektör</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.sector ?? $json.sector }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #eee;\">Şirket Büyüklüğü</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.size ?? $json.size }} çalışan</td>\n  </tr>\n  <tr style=\"background: #f9f9f9;\">\n    <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #eee;\">İletişim</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.contact ?? $json.contact }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px 14px; font-weight: bold; vertical-align: top; border: 1px solid #eee;\">Süreç / Not</td>\n    <td style=\"padding: 10px 14px; border: 1px solid #eee;\">{{ $json.body.process ?? $json.process }}</td>\n  </tr>\n</table>\n\n<p style=\"margin-top: 24px; font-size: 13px; color: #888;\">detaymultimedia.com üzerinden gönderildi.</p>\n</body></html>",
        "options": {}
      },
      "id": "gmail-node",
      "name": "Gmail — Bildirim Gönder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — Detay Multimedya"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://detaymultimedia.com"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Yanıt Döndür",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Demo Form Webhook": {
      "main": [
        [
          {
            "node": "Gmail — Bildirim Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Bildirim Gönder": {
      "main": [
        [
          {
            "node": "Yanıt Döndür",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
